bin/
build/
msg_gen/
srv_gen/
src/tum_ardrone/
docs/
cfg/cpp/
cfg/*.cfgc
thirdparty/gvars3/build/
thirdparty/gvars3/include/
thirdparty/gvars3/lib/
thirdparty/gvars3/gvars_built
thirdparty/libcvd/build/
thirdparty/libcvd/include/
thirdparty/libcvd/installfiles/
thirdparty/libcvd/lib/
thirdparty/libcvd/libcvd_built




