<launch>
  <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen">
    <param name="navdata_demo" value="False" />
    <param name="realtime_navdata" value="True" />
    <param name="realtime_video" value="True" />
    <param name="looprate" value="30" />
  </node>
</launch>
